body {
	background-color: #230023;
}

.masthead a {
	vertical-align: middle;
	display: inline-block;
	margin-left: 2em;
	font-size: 1em;
	color: white;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

