body {
	background-color: #230023;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.pure-menu-horizontal li a {
	vertical-align: middle;
	display: inline-block;
	font-size: 1.25em;
	color: white;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.container {
	max-width: 55rem;
}

.splash {
	font-size: 3em;
	text-align: center;
}

.splash h1 {
	color: white;
}

footer {
	position: fixed;
	bottom: 0;
}