<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead pure-menu pure-menu-horizontal pure-menu-open">
        <ul>
          <li>
            <a href="{{ site.baseurl }}" title="Home" class="pure-menu-heading">
              <img src="{{ site.baseurl }}public/images/logo.png">
            </a>
          </li>
          {% for cat in site.cat_list %}
            <li><a href="{{ cat.url  }}">{{ cat.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      {{ content }}

      <footer>
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </footer>
    </div>

  </body>
</html>
